<Texts Type="Other">
<List>
<Text Name="Normal">
<Events.0.Story>[name]Không biết chuyện gì đang xảy ra, không hiểu thấu lại ngẩn người.</Events.0.Story>
<Events.1.Story>[name][rand_string= hắt hơi một cái, đánh một cái nấc, hạt cát bay vào mắt, ngáp một cái, bắt đầu lầm bầm lầu bầu, vuốt vuốt bụng, gãi gãi ngứa, cảm giác được có chút nhàm chán, sửa sang tóc, trong giày, dẫm lên cái gì đó, sửa sang lại quần áo một chút, thở dài, mấp máy miệng, liếm liếm miệng, thè lưỡi, Vỗ vỗ tro bụi, Hừ nổi lên tiểu khúc, nghĩ nói chuyện với Nhân, Muốn thử xem làm thơ, Yết hầu có chút ngứa, run rẩy cái mũi ].</Events.1.Story>
<Events.2.Story>[name][rand_string= vận chuyển linh khí, mặc niệm mấy lần khẩu quyết, nhớ lại một lần tâm pháp ].</Events.2.Story>
<Events.3.Story>[name]đột nhiên cảm giác được[rand_string= Mắt.Phải, Mắt.Trái]nhảy lên.</Events.3.Story>
<Events.4.Story>[name]giống như nghe được có ai đang gọi tên của mình.</Events.4.Story>
<Events.5.Story>[name]có chút liên quan[rand_lable=obj_friend,obj_nearthing,other=obj,obj_action]chuyện muốn tìm người tâm sự,</Events.5.Story>
<Events.6.Story>[name]rất ưa thích[rand_lable=obj_weather,obj_action].</Events.6.Story>
<Events.7.Story>[name]Nhìn xem bên cạnh[rand_lable=obj_friend,obj_nearthing][rand_string= đờ người, Cười rộ lên, như có điều suy nghĩ ].</Events.7.Story>
<Events.8.Story>[name]muốn đem[obj_equip][rand_string= đổi đi, thanh khiết một lần, sửa sang lại một lần ].</Events.8.Story>
</Text>
</List>
</Texts>
